<li>
    <h2>음식 계획 기준으로</h2>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>A</h1>
        </div>
    </div>
    <span class= "comment">만큼 건강하게 섭취</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>과식</h1>
        </div>
    </div>
</li>
<div class = "underline-li">
    <h1 class = "overwrap-background">&nbsp;</h1>
    <div class = "overwrap-element">
        <md-content>
            <md-autocomplete flex
                             ng-disabled="isDisabled"
                             md-selected-item="selectedItem"
                             md-search-text="searchText"
                             md-items="item in querySearch(searchText)"
                             md-item-text="item.name"
                             md-min-length="0"
                             placeholder="어떤 음식"
                             class="inputFood x90transform"/>
            <md-item-template>
                        <span md-highlight-text="searchText"
                              md-highlight-flags="^i">{{item.name}}</span>
                <!-- A list of flags (loosely based on JavaScript RexExp flags): i: Ignore case when searching for matches -->
            </md-item-template>
        </md-content>
        <md-content>
            <md-autocomplete flex nonebutton="true"
                             ng-disabled="isDisabled"
                             md-selected-item="each"
                             md-items="each in amout"
                             md-item-text="each"
                             md-min-length="0"
                             placeholder="얼만큼"
                             class="inputAmount nonebutton x90transform"/>
            <md-item-template>
                                <span md-highlight-text="each"
                                      md-highlight-flags="^i">{{each}}
                                </span>
            </md-item-template>
        </md-content>
        <md-select ng-model="myModel" placeholder="먹을까" ng-change="onChange()" md-on-open="onOpen()">
            <md-option value="0">더 먹어도 되나요?</md-option>
            <md-option value="1">더 먹었어요</md-option>
        </md-select>
    </div>
</div>

<li class = "li-answer">
    <div class = "answer">
        <button type = "button" value= "제출" class="btn-outline btn-yang ">
            <span>제출</span>
        </button>
    </div>
    <div class="span-answer">
        <span class= "comment">339cal 더 먹어도 되요</span>
    </div>
</li>
<li>
    <div class="border-underline">
        <div class = "border-inside-element">
            <h1>4.6</h1>kg
        </div>
    </div>
    <span class="comment">목표까지 화이팅</span>
</li>