<li class = "no-sub-title">
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1 ng-if="sleepData.startTime.today === ''">6
            </h1>
            <h1 ng-if="sleepData.startTime.today != ''">
                {{caculateTotalSleepTime(sleepData.timeInBed.today, 0)}}
            </h1>
            시간
            <h1 ng-if="sleepData.startTime.today === ''">30</h1>

            <h1 ng-if="sleepData.startTime.today != ''">
                {{caculateTotalSleepTime(sleepData.timeInBed.today, 1)}}
            </h1>
            분
        </div>
        <!--wake-up time "05:18"-->
        <!--{{strSplit(sleepData.startTime.today, 0)}}:{{strSplit(sleepData.startTime.today, 1)}}-->
    </div>
    <span class= "comment">수면시간</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1 ng-if="targets[indexOfTarget.totalMinutesAsleep].efficiency === 0">
                {{$parent.todayStatus.totalMinutesAsleep}}</h1>
            <h1 ng-if="targets[indexOfTarget.totalMinutesAsleep].efficiency != 0">
                {{sleepData.efficiency.today}}
            </h1>
            %
        </div>
    </div>
    <span class= "comment">꿀잠</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1 ng-if="targets[indexOfTarget.restingHeartRate].efficiency === 100">{{heartrateData.restingHeartRate[0]}}</h1>
            <h1 ng-if="targets[indexOfTarget.restingHeartRate].efficiency === 0">62</h1>
            bpm
        </div>
    </div>
    <span class= "comment">안정시 심박수</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1 ng-if="waterData.today === 0">1200</h1>
            <h1 ng-if="waterData.today != 0">{{waterData.today}}</h1>
            ml
        </div>
    </div>
    <span class= "comment">물 섭취량</span>
</li>