<li class = "no-sub-title">
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>6</h1>시간<h1>30</h1>분
        </div>
    </div>
    <span class= "comment">수면시간</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>75</h1>%
        </div>
    </div>
    <span class= "comment">꿀잠</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>60</h1>bpm
        </div>
    </div>
    <span class= "comment">안정시 심박수</span>
</li>
<li>
    <div class = "border-underline">
        <div class = "border-inside-element">
            <h1>1200</h1>ml
        </div>
    </div>
    <span class= "comment">물 섭취량</span>
</li>