    <div class="title no-padding">
        <h1>
            <div class="point">2</div>/4
        </h1>
        <span>Happy</span>
    </div>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-totalTimeInBed.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-totalTimeInBed" />-->
                <use xlink:href="#attr-totalTimeInBed" />
                <use xlink:href="#mask-totalTimeInBed" />
                <use xlink:href="#data-totalTimeInBed" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-totalMinutesAsleep.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-totalMinutesAsleep" />-->
                <use xlink:href="#attr-totalMinutesAsleep" />
                <use xlink:href="#mask-totalMinutesAsleep" />
                <use xlink:href="#data-totalMinutesAsleep" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-restingHeartRate.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-restingHeartRate" />-->
                <use xlink:href="#attr-restingHeartRate" />
                <use xlink:href="#mask-restingHeartRate" />
                <use xlink:href="#data-restingHeartRate" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-water.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-water" />-->
                <use xlink:href="#attr-water"/>
                <use xlink:href="#mask-water"/>
                <use xlink:href="#data-water"/>
            </svg>
        </h1>
    </li>
