    <div class="title">
        <h1>
            <div class="point">1</div>/5
        </h1>
        <span>Energetic
        </span>
    </div>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-calories.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-calories" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-steps.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-steps" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-activityCalories.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-activityCalories" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-floors.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-floors" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-distance.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-distance" />
            </svg>
            <div ng-include="'/app/components/number-today/data-svg/data-distance.html'"></div>
        </h1>
    </li>
    <li>
        &nbsp;
    </li>
