    <div class="title">
        <h1>
            <div  class="point">2</div>/3
        </h1>
        <span>Balanced</span>
    </div>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-foodPlan.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-foodPlan" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-estimatedCaloriesOut.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-estimatedCaloriesOut" />
            </svg>
        </h1>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-logWeight.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <use xlink:href="#ratio-logWeight" />
            </svg>
        </h1>
    </li>
