    <div class="title">
        <h1>
            <div class="point">1</div>/5
        </h1>
        <span>Energetic
        </span>
    </div>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-calories.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-calories" />-->
                <use xlink:href="#attr-calories" />
                <use xlink:href="#mask-calories" />
                <use xlink:href="#data-calories" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-steps.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-steps" />-->
                <use xlink:href="#attr-steps" />
                <use xlink:href="#mask-steps" />
                <use xlink:href="#data-steps" />
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-activityCalories.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-activityCalories" />-->
                <use xlink:href="#attr-activityCalories"/>
                <use xlink:href="#mask-activityCalories"/>
                <use xlink:href="#data-activityCalories"/>
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-floors.html'"></div>
            <svg class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-floors" />-->
                <use xlink:href="#attr-floors"/>
                <use xlink:href="#mask-floors"/>
                <use xlink:href="#data-floors"/>
            </svg>
        </h1>
    </li>
    <li>
        <h1>
            <div class="none" ng-include="'/app/components/number-today/data-svg/data-distance.html'"></div>
            <svg id="svgDistance"
                 class="var0"
                 x="0px" y="0px"
                 width="40px" height="50px"
                 viewBox="0 0 40 50">
                <!--<use xlink:href="#ratio-distance" />-->
                <use xlink:href="#attr-distance"/>
                <use xlink:href="#mask-distance"/>
                <use xlink:href="#data-distance"/>
            </svg>

        </h1>
    </li>
    <li>
        &nbsp;
    </li>
