    <div class="title">
        <h1>
            <div  class="point">2</div>/3
        </h1>
        <span>Balanced</span>
    </div>
    <li>
        <h1>
            <img src="/assets/images/icon-svg/icon-foodPlan.svg" alt=""/>
        </h1>
    </li>
    <li>
        <h1>
            <img src="/assets/images/icon-svg/icon-foodPlan.svg" alt=""/>
        </h1>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <h1>
            <img src="/assets/images/icon-svg/icon-foodPlan.svg" alt=""/>
        </h1>
    </li>
