*.iml
**/.idea/
/node_modules
/config/env/development.js
/public/assets/bower_components
/public/assets/stylesheets/fonts
/public/.sass-cache/
/public/assets/stylesheets/css
/public/assets/cp-custom-angular-material
/public/assets/stylesheets/js/cp-nv.d3.js
/public/assets/stylesheets/custom-css/cp-nv.d3.css
/public/assets/images/body-svg/cp-beforeSyncBody.svg
