<section class = "body-shape">
    <!--comment of body shape-->
    <div class =  "comment-body">
        <div class = "today-status">
            <hgroup>
                <h1>5/12</h1>
                <h4>today</h4>
            </hgroup>
            <figure>
                <p>reward clothe</p>
                <svg>
                </svg>
            </figure>
        </div>

        <article class = "drink-water">
            <p>drink of water</p>
        </article>
    </div>
    <!--image of body shape-->
    <article class = "body-container">
        <p>image body</p>
        <svg>
        </svg>
    </article>
    <!-- gutter-->
    <div class = "gutter">
        <p>gutter</p>
    </div>
</section>