<section class = "body-shape">
    <!--comment of body shape-->
    <div class =  "comment-body">
        <div class = "today-status">
            <hgroup>
                <h1>5/12</h1>
                <h4>today</h4>
            </hgroup>
            <figure>
                reward clothe
                <svg>
                </svg>
            </figure>
        </div>

        <article class = "drink-water">
            drink of water
        </article>
    </div>
    <!--image of body shape-->
    <article class = "body-container">
        image body
        <svg>
        </svg>
    </article>
    <!-- gutter-->
    <div class = "gutter">
        gutter
    </div>
</section>