/* -------------------------
  Global styles
  --------------------------- */
html, body
  +fontsize-rem($base-font-size)
  font-family: $text-font-stack
  height: 100%
  +breakpoint($bp-wide)
    +fontsize-rem($base-font-size - 1px)

body
  overflow: visible
@include scrollbars(0.8em, $stone-grey)

*,
*:after,
*:before
  +box-sizing(border-box)

a, button
  transition: all 0.35s
a:hover, a:visited, a:link, a:active
  text-decoration: none

button,html input[type="button"],input[type="reset"],input[type="submit"]
  cursor: pointer
  outline: none


