/* -------------------------
  dashboard specific styles
  --------------------------- */
$susy: (columns: 1, box-sizing: border-box)

$susy-wide: (columns: 6 22 5 10 40 6 24, gutters: 1/12, output: isolate, box-sizing: border-box, debug: (image: show, toggle: top right, output: overlay))

@include layout($susy)

.wrap
  @include container(1240px)

.dashboard
  .main-container
    @include full
    position: relative
    overflow: hidden
    background: $sterling-grey
    .twotone-bg
      display: block
      position: absolute
      bottom: 0px
      height: 300px
      width: 100%
      background-color: $medium-grey

      @include susy-breakpoint($bp-wide, $susy-wide)
        display: block
        position: absolute
        right: 0px
        top: 0px
        height: 100%
        width: 33%
        background-color: $medium-grey
    .wrap
      position: relative
      @include susy-breakpoint($bp-wide, $susy-wide)
        @include show-grid(overlay)
        position: relative
      main[role="main"]
        @include span(first 1)
        //background-color: $white
        border: 1px solid $dark-jet
        height: 1100px

        @include susy-breakpoint($bp-wide, $susy-wide)
          @include span(first 5)
          border-color: brown
          height: 1100px

      aside.feedback
        @include span(first 1)
        //background-color: $medium-grey
        border: solid 1px black
        height: 300px

        @include susy-breakpoint($bp-wide, $susy-wide)
          @include span(last 2)
          border-color: greenyellow
          height: 1100px

