/* -------------------------
  dashboard specific styles
  --------------------------- */
$susy: (columns: 89, box-sizing: border-box, gutters: 0, debug: (image: show, toggle: top right, output: overlay))

$susy-wide: (columns: 6 22 3 9 35 3 24, gutters: 0, output: isolate, box-sizing: border-box, debug: (image: show, toggle: top right, output: overlay))

$susy-wider: (columns: 6 22 5 10 40 6 24, gutters: 0, output: isolate, box-sizing: border-box, debug: (image: show, toggle: top right, output: overlay))
html
  +debug-vertical-alignment
  background: $white
//@include layout($susy)
=main-bp
  border-color: brown
  height: 1100px
.dashboard
  .main-container
    @include full
    position: relative
    //overflow: hidden > horizontal scrollbar
    background: $sterling-grey
    .twotone-bg
      =twotone-bg-part
        display: block
        position: absolute
        background-color: $medium-grey

      +twotone-bg-part
      bottom: 0px
      height: 300px
      width: 100%
      @include susy-breakpoint($bp-wide, $susy-wide)
        +twotone-bg-part
        right: 0px
        top: 0px
        height: 100%
        width: 40%
    .wrap
      =wrap-part
        @include show-grid(overlay)
        position: relative
      +wrap-part
      //@include container($bp-medium)
      @include susy-breakpoint($bp-wide, $susy-wide)
        @include container($bp-wider)
        +wrap-part
      @include susy-breakpoint($bp-wider, $susy-wider)
        @include container($bp-wider)
        +wrap-part

      main[role="main"]
        @include span(first 89)
        @include squish(2%)
        background-color: $sterling-grey
        //border: 1px solid $dark-jet
        height: 1240px
        width: $bp-medium
        min-width: 755px
        =main-part
          @include span(first 6)
          +main-bp
        @include susy-breakpoint($bp-wide, $susy-wide)
          +main-part
          height: 1100px
        @include susy-breakpoint($bp-wider, $susy-wider)
          +main-part
          height: 1100px

      aside.feedback-container
        @include span(first 89)
        @include squish(2%)
        position: relative
        //border: solid 1px black
        width: $bp-medium
        height: 300px

        =feedback-part
          @include span(last 1)
          //border-color: royalblue
          height: 1100px

        @include susy-breakpoint($bp-wide, $susy-wide)
          +feedback-part
        @include susy-breakpoint($bp-wider, $susy-wider)
          +feedback-part
