footer
  @include full
  background-color: $white
  overflow: hidden
  position: relative
  .twotone-bg
    display: block
    position: absolute
    //left: 0px
    top: 0px
    width: 100%
    height: 60px
    background-color: $neat-gray
  .wrap
    @include container($bp-wider)
    position: relative
    .mail-me
      height: 60px
      color: $stone-grey2
    .footer-inner
      height: 160px


