header
  @include full
  //position: relative
  height: 80px
  +background-image(linear-gradient($white, $sterling-white))
  border-bottom: 1px solid $pearl-grey
  .wrap
    @include container($bp-wider)
    height: 100%
    aside.account
      float: right
      //position: absolute
      width: 10%
      height: 100%
      border: solid 1px mediumvioletred

    nav
      float: right
      li
        float: left
        margin-left: 3em