=header-container-part
  @include show-grid(overlay)
  position: relative
  //@include pre(2%)
  .header-nav-container
    @include span(first 89)
    @include pad(2%)
    border: 1px solid mediumvioletred
    height: 70px

    .logo-side
      @include span(20 of 89 first)
      //text-indent: -9999px
      padding-top: 17px

    aside.account
      @include span(18 of 89 last)
      height: 70px
      border: solid 1px $happy-violet
      //float: right
      @include susy-breakpoint($bp-wide)
        @include span(16 of 89 last)

      div,a
        float: left
        margin: 0 9%
      .nav-item
        position: relative
        top: 50%
        transform: translateY(-50%)
        bottom: auto

    nav.header-nav
      @include span(51 of 89 at 21)
      @include susy-breakpoint($bp-wide)
        @include span(51 of 89 at 21)
      ul
        li
          float: left
          margin-left: 1.5em

header.header-container
  @include full
  position: relative
  width: 100%
  height: 70px
  +background-image(linear-gradient($white, $sterling-white))
  border-bottom: 1px solid $pearl-grey
  .wrap
    @include container($bp-medium)
    +header-container-part
    @include susy-breakpoint($bp-wide)
      @include container
      //+header-container-part
    @include susy-breakpoint($bp-wider)
      @include container($bp-wider)
      //+header-container-part



