<!--Footer section-->
<footer>
    <div class = "twotone-bg"></div>
    <div class = "wrap">
        <div class="mail-me">
            <span>FITBIT으로 건강한 보디 라인을 만들어 보세요</span>
            <form action="">
                <div>
                    <input type="email" name="" placeholder="Enter your email address" value=""/>
                </div>
                <span></span>
            </form>
        </div>
        <div class="footer-inner">
            <div class="ft-bottom">
                <ul>
                    <li class="copyright">
                        ©2016 tmin lim, All rights reserved.
                    </li>
                    <li>
                        <a href="https://www.google.com/search?q=fitbit+dashboard&newwindow=1&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjd4Z-H6JzNAhUkiKYKHdVAC2QQ_AUICCgB&biw=1220&bih=607&gws_rd=cr&ei=BV1aV8WxD6LKmAXihZegDw#" target="_blank">
                            Fitbit renewal UX design inspired by
                        </a>
                    </li>
                    <li>
                        <a href="http://www.sec.gov/Archives/edgar/data/1447599/000119312515176980/d875679ds1.htm" target="_blank">
                            Fitbit logo shape &amp; Mission,
                        </a>
                    </li>
                    <li>
                        <a href="http://newsinfo.inquirer.net/760899/in-age-of-apps-an-exhibit-of-vintage-toys" target="_blank">
                            paperdoll,
                        </a>
                    </li>
                    <li>
                        <a href="http://isotyperevisited.org/documents/index.html" target="_blank">
                            Isotype </a>
                        <a href="https://reramble.wordpress.com/2012/09/16/isotype-revisited/" target="_blank">re:visited</a>
                        </a>
                    </li>
                    <li>
                        <a href="http://link.springer.com/referenceworkentry/10.1007%2F978-3-7643-8140-0_22" target="_blank">
                            &amp; Bel design.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
