<!--Footer section-->
<footer>
    <div class = "twotone-bg"></div>
    <div class = "wrap">
        <div class="mail-me">
            <span>FITBIT으로 건강한 보디 라인을 만들어 보세요</span>

            <form action="">
                <div>
                    <input type="email" name="" placeholder="Enter your email address" value="fulawang@gmail.com"/>
                </div>
                <span></span>
            </form>
        </div>
        <div class="footer-inner">
        </div>
    </div>
</footer>

