<aside class="account">
    <div class="nav-box">
        <a class="nav-item"
           href=""
           title="profile">
            <img class="profile-photo" src="/assets/images/defaultProfile_female.gif" alt="">
        </a>
    </div>
    <div class="nav-box">
        <a class="nav-item" title="message">
            <img class="message" src="/assets/images/message.png" alt="">
        </a>
    </div>
    <div class="nav-box">
        <a class="nav-item" title="View Settings">
            <img class="Settings" src="/assets/images/setting.png" alt="">
        </a>
    </div>
</aside>
<nav class="clearfix header-nav">
    <ul>
        <li><a href="http://www.fitbit.com" target="_blank">Dashboard</a></li>
        <li><a href="http://www.fitbit.com/foods/log" target="_blank">Log</a></li>
        <li><a href="https://community.fitbit.com" target="_blank">Community</a></li>
        <li><a href="https://www.fitbit.com/premium/cb" target="_blank">Premium</a></li>
        <li class="store"><a href="http://www.fitbit.com/store" target="_blank">Store</a></li>
    </ul>
</nav>