<aside class="account">
    <div class="" title="View Settings">
        <span class="icon"></span>
    </div>
    <div class="" title="">
        <span class=""></span>
    </div>
    <a class="" href="" title="">
        <img class="" src="" alt="">
    </a>
</aside>

<nav class="clearfix">
    <ul class="">
        <li><a href="http//www.fitbit.com">Dashboard</a></li>
        <li class=""><a href="//www.fitbit.com/foods/log" class="">Log</a></li>
        <li class=""><a href="#">Community</a><span class=""></span></li>
        <li><a href="//www.fitbit.com/premium/cb">Premium</a></li>
        <li class=""><a href="http://www.fitbit.com/store">Store</a></li>
    </ul>
</nav>