<aside class="account">
    <div class="nav-item" title="View Settings">
        <img class="Settings"
             src="/assets/images/setting.png" alt="">
    </div>
    <div class="nav-item" title="message">
        <img class="message"
             src="/assets/images/message.png" alt="">
    </div>
    <a class="nav-item"
       href=""
       title="">
        <img class="profile-photo"
             src="/assets/images/defaultProfile_female.gif" alt="">
    </a>
</aside>

<nav class="clearfix header-nav">
    <ul class="">
        <li><a href="http//www.fitbit.com">Dashboard</a></li>
        <li class=""><a href="//www.fitbit.com/foods/log" class="">Log</a></li>
        <li class=""><a href="#">Community</a><span class=""></span></li>
        <li><a href="//www.fitbit.com/premium/cb">Premium</a></li>
        <li class=""><a href="http://www.fitbit.com/store">Store</a></li>
    </ul>
</nav>