/* -------------------------
  Colors
  --------------------------- */
$white: #ffffff
$dark-jet:#193346

//achromatic-color tones
$sterling-white :#f0f0f0

$sterling-grey: #ebebeb
$neat-gray: #e2e2e2
$calm-grey: #dcd9d9
$pearl-grey: #d5d8da
$light-grey :#cdcaca

$misty-grey1 :#bcbbbb
$misty-grey2 :#b5b4b3
$grey :#a0a6a9
$medium-grey :#a2a1a0
$stone-grey :#93999c
$stone-grey2 : #939c9e

$dark-grey :#868b8e

// Brand colors
/// section happy
$happy-violet: #512b8d
/// section balanced
$balanced-yellow:#fab657
/// section energetic
$energetic-red: #f74d52

/// Main background color
$main-color: $sterling-grey

/// Secondary color
$secondary-color: $grey

// color pairs
$attribute-color:happy balanced energetic
$matching-color: $happy-violet $balanced-yellow $energetic-red

$color-style: zip($attribute-color, $matching-color)

