/* -------------------------
  Buttons
  --------------------------- */
.btn-outline
  position: relative
  content: ''
  min-width: 150px
  max-width: 215px
  height: 40px
  margin: 30px
  background: none
  border: none
  font-family: $thin-font
  +fontsize-rem($base-font-size - 1px)
  text-transform: uppercase
  text-align: center
  letter-spacing: 2px

.btn-yang
  @extend .btn-outline
  +ouline-btn($white, $grey)

.btn-yin
  @extend .btn-outline
  +ouline-btn($medium-grey, $pearl-grey, yin)

