@import compass/layout/stretching
section.feedback
  +establish-baseline
  color: $sterling-grey
  //%h3-part  >> whats the matter?
  //  +inline-block
  //  color: $calm-grey
  //  font-family: $bold-font
  //  +adjust-leading-to(2, $base-font-size + 1px)
  //  padding-left: 15%
  //  letter-spacing: -0.05em
  //position: absolute
  //height: 100%
  .improvement-point
    @include span(30 of 89 first)
    padding-right: 3%
    //+layout-outline($happy-violet)

  .strong-point
    @include span(29 of 89 at 31)
    margin-top: 60px
    padding-right: 1%
    padding-left: 1%
    //+layout-outline($happy-violet)

  .improvement-point, .strong-point
    $susy-feedback: (columns: 10 11, output: isolate, gutter: 0)
    div
      +adjust-leading-to(2, $base-font-size + 0px)
      &.top-section
        padding-top: 0px
        @include susy-breakpoint($bp-wide, $susy-wide)
          +padding-leader(1, $base-font-size + 1px)
      &.select-date
        border-bottom: 2px solid $misty-grey2
      @include with-layout($susy-feedback)
        @include container()
        .selected-date
          @include span(1 first)
          span.line-caret
            position: relative
            cursor: pointer
            +line-caret(false, 8px, 2px, left, $calm-grey, $medium-grey, $white)
        .select-filter
          @include span(1 last)

      h3
        //@extend %h3-part !optional
        +inline-block
        color: $calm-grey
        font-family: $bold-font
        +adjust-leading-to(2, $base-font-size + 1px)
        padding-left: 15%
        letter-spacing: -0.05em
    li
      +adjust-leading-to(2, $base-font-size + 0px)
      position: relative
      border-bottom: 1px solid $misty-grey2
      &.none-border
        //border-bottom: 0px >> transparent effect
        border-bottom: 1px solid $medium-grey
      &:last-child
        +margin-trailer(2, $base-font-size - 0px)
      @include with-layout($susy-feedback)
        @include container()
        .selected-icon
          @include span(1 fist)
          .percentage-icon
            +adjust-leading-to(2, $base-font-size + 0px)
            width: 40px
            position: absolute
            //use xlink Embedded svg symbol
            svg.resize
              transform: scale(0.8)
              //svg icon color by description
              rect
                @each $i in $color-style
                  .#{nth($i, 1)}-color
                    fill: nth($i, 2)
          //path.feedback-bg
          //  fill : $medium-grey
          span
            padding-left: 40px
            top: 0
        .desc
          @include span(1 last)
          position: absolute
          padding-left: 10px
        h4
          color: $white
          font-family: $bold-font
  .challenge
    @include span(30 of 89 last)
    padding-left: 7%

    $susy-feedback-mission: (columns: 60 40, output: isolate, gutter-position: after, gutter: 3%)
    div
      +adjust-leading-to(2, $base-font-size + 0px)
      &.select-date
        border-bottom: 2px solid $misty-grey2
      &.select-mission
        border-bottom: 1px solid $misty-grey2
      //submit button of div today mission
      &.answer
        height: 30px
        margin: 8px auto
        @include susy-breakpoint($bp-wide, $susy-wide)
          +margin-leader(1, $base-font-size + 1px)
          //+adjust-leading-to(2, $base-font-size + 0px)
          +margin-trailer(1, $base-font-size + 1px)
        //alert message
        div
          text-align: center
          line-height: 2.2em
        button
          +stretch-x
          width: 100%
          +adjust-leading-to(1, $base-font-size + 1px)
          +center(x)
          //select, reward.png
          img
            vertical-align: middle
      @include with-layout($susy-feedback-mission)
        @include container()
        .selected-date, .select-target
          @include span(1 first)
          padding-right: 2%
          span.line-caret
            position: relative
            cursor: pointer
            +line-caret(false, 8px, 2px, left, $calm-grey, $medium-grey, $white)
        .select-filter, .select-acheivement
          @include span(1 last)
          padding-left: 5%
        //input placeholder css when disabled
        .select-acheivement
          input
            &:disabled
              @include placeholder($deep-gray)
      h3
        +inline-block
        color: $calm-grey
        font-family: $bold-font
        +adjust-leading-to(2, $base-font-size + 1px)
        padding-left: 15%
        letter-spacing: 0.03em
      //button ng-hide text
      div
        >span
          color : $alert-yellow

    li
      +adjust-leading-to(2, $base-font-size + 0px)
      position: relative
      border-bottom: 1px solid $misty-grey2

      &.none-border
        //border-bottom: 0px >> transparent effect
        border-bottom: 1px solid $medium-grey
      &:last-child
        +margin-trailer(2, $base-font-size - 0px)

      @include with-layout($susy-feedback-mission)
        @include container()
        .selected-icon
          @include span(1 fist)
          .percentage-icon
            +adjust-leading-to(2, $base-font-size + 0px)
            width: 40px
            position: absolute
          span
            padding-left: 40px
            top: 0
        .desc
          @include span(1 last)
          position: absolute
        h4
          color: $white
          font-family: $bold-font

  @include susy-breakpoint($bp-wide, $susy-wide)
    position: absolute
    width: 100%
    padding-left: 25px
    .improvement-point, .strong-point
      width: 100%
    .improvement-point
      padding-right: 0%
    .strong-point
      margin-top: 0
      padding-right: 0%
      padding-left: 0%
    .challenge
      width: 100%
      padding-left: 0


//custom-select
._md-select-value > span:not(._md-select-icon) ._md-text
  font-size: 14px

//feedback select
#select_container_2._md-select-menu-container._md-active._md-clickable
  //background-color: $misty-grey1 !important
  md-content
    background-color: $misty-grey1 !important

//only applied select date for feedback
#select_container_2
  md-select-menu
    md-option, md-option[selected]
      &:focus,
      &:not([disabled]),
      &:not([selected])
        color: $sterling-grey !important
        background: $misty-grey1 !important
      &:hover
        background-color: $sterling-white !important
        color: $medium-grey !important
      &:active
        color: $stone-grey !important
        font-family: $bold-font !important


#ul-3, #ul-4, #ul-5, #ul-6, #ul-7, #ul-8
  li
    background-color: $misty-grey1 !important
    &:hover
      background-color: $sterling-white !important
      color: $medium-grey
    &:active
      color: $stone-grey !important
      font-family: $bold-font !important


//autocompelete
.challenge
  //ng-form
  //  &[name="today-mission"]
  //for submit button position:absolute
  form
    &[name="today-mission"]
      position: relative

  md-content, md-autocomplete
    +inline-block
    background: transparent
    z-index: 3
    .select-target .container-autocomplete
      position: relative
      margin-right: 2%
    .select-acheivement .container-autocomplete
      position: relative
      margin-left: 11%

    input.x90transform
      width: 100%
      //opacity: 0
      background: transparent
      transition: opacity 0.3s
      z-index: 3
      &:focus
        opacity: 1
        transition-delay: 0.3s
        & + label.input-label
          pointer-events: none
          &:before
            transform: perspective(1000px) rotate3d(1, 0, 0, 0deg)
          &:after
            transform: perspective(1000px) rotate3d(1, 0, 0, -90deg)

    input
      @include placeholder($sterling-grey)
      //&:disabled
      //  @include placeholder($deep-gray)

    label.input-labe
      &:before
        +pseudo-container
        width: 97%
        bottom: 0%
        left: 0
        height: 40px
        background: $dark-grey2
        transform: perspective(1000px) rotate3d(1, 0, 0, 90deg)
        transform-origin: 50% 100%
        transition: transform 0.3s
      &:after
        +pseudo-container
        width: 97%
        //bottom: 0
        bottom: -5px
        z-index: 3
        left: 0
        height: 5px
        background: $misty-grey1
        transform-origin: 50% 0%
        transition: transform 0.3s

    input:not(.md-input)
      color : $sterling-grey
      text-align: center
      padding: 0 3px
      letter-spacing: -0.03em

      //input placeholder css when disabled
      &[disabled="disabled"]
        color: $deep-gray
    .inputMission input:not(.md-input)
      padding-left: 24px

    button
      margin-left: 0px
      margin-right: 0px
      z-index: 3


//autocomplete virtual repeat for select target
#ul-3 .percentage-icon
  letter-spacing: -0.1em
  span
    padding-left: 5px

//svg icon background
$number-id-list: "01" "02" "03"

$keyword-list: totalTimeInBed totalMinutesAsleep restingHeartRate water foodPlan estimatedCaloriesOut foodPlan logWeight calories steps activityCalories floors distance

@each $each-id in $number-id-list
  #inputMission#{$each-id} input[name="autocompleteField-target"]
    background: url(../../images/target.png)
    background-repeat: no-repeat
    background-position: 3px 11px

  @each $keyword in $keyword-list
    #inputMission#{$each-id}.bg-input-#{$keyword} input[name="autocompleteField-target"]
      background-image: url(../../images/icon-svg/icon-#{$keyword}.svg)
      background-repeat: no-repeat
      background-position: 3px 4px

