section.feedback
  //position: absolute
  //height: 100%
  .improvement-point
    @include span(30 of 89 first)
    +layout-outline($happy-violet)
  .strong-point
    @include span(29 of 89 at 31)
    +layout-outline($happy-violet)
  .challenge
    @include span(30 of 89 last)
    +layout-outline($happy-violet)

  @include susy-breakpoint($bp-wide, $susy-wide)
    position: absolute
    border: 1px solid $misty-grey2
    .improvement-point
      width: 100%
      //+layout-outline($happy-violet)
    .strong-point
      width: 100%
      //+layout-outline($happy-violet)
    .challenge
      width: 100%
      //+layout-outline($happy-violet)
