ul.stat
  background-color: $white
  +establish-baseline
  +margin-trailer(1, $base-font-size + 14px)

  div.underline-li
    +adjust-leading-to(4, $base-font-size + 14px)
    position: relative
    padding: 0 33px
    width: 100%
  li
    padding: 0px 33px
    +adjust-leading-to(4, $base-font-size + 14px)
    &.no-sub-title
      +padding-leader(4, $base-font-size + 14px)
    &:first-child:not(.no-sub-title, .overwrap-background)
      +padding-leader(1, $base-font-size + 14px)
    &:last-child:not(.overwrap-element)
      +padding-trailer(2, $base-font-size + 14px)
    &.overwrap-element
      position: absolute
      top: 0px
      padding: 0px
    =border-inside-ele
      position: absolute
      content: ""
      border-bottom: 5px solid $sterling-white
      bottom: 3%
      width: 100%
      height: 100%
      z-index: 0
    .border-underline
      +inline-block
      position: relative
      //.border-inside-element
      //  &:after
      //    +border-inside-ele
    .border-inside-element
      &:after
        +border-inside-ele
    md-content, md-autocomplete
      +inline-block
      background: transparent
      //background: $white
      min-width: 50px
      z-index: 3
      .container-autocomplete
        position: relative
        background: $white
        input.x90transform
          width: 100%
          //opacity: 0
          background: transparent
          transition: opacity 0.3s
          z-index: 3
          &:focus
            opacity: 1
            transition-delay: 0.3s
            & + label.input-label
              pointer-events: none
              &:before
                transform: perspective(1000px) rotate3d(1, 0, 0, 0deg)
              &:after
                transform: perspective(1000px) rotate3d(1, 0, 0, -90deg)
        label.input-label
          &:before
            +pseudo-container
            bottom: 0%
            left: 0
            height: 40px
            background: $calm-grey
            transform: perspective(1000px) rotate3d(1, 0, 0, 90deg)
            transform-origin: 50% 100%
            transition: transform 0.3s
          &:after
            +pseudo-container
            //bottom: 0
            bottom: -3px
            z-index: 3
            left: 0
            height: 5px
            background: $misty-grey1
            transform-origin: 50% 0%
            transition: transform 0.3s

        input:not(.md-input)
          color : $dark-jet
          padding: 0 3px 0px 10px
        button
          margin-left: 0px
          margin-right: 0px
          z-index: 3
    .inputFood
      width: 115px
    .inputAmount
      width: 70px
      margin-left: 7px

    md-select
      +inline-block
      min-width: 100px
      color: $grey
      width: 130px
      letter-spacing: -0.01em
      &.ng-dirty,.ng-touched
        ._md-select-value > span:not(._md-select-icon)
          color: $dark-jet
    span.comment
      //font-family: $thin-font
      padding-left: 14px
      color: $grey
    h1
      +inline-block
      padding-right: 4px
      &:not(:first-child)
        padding-left: 7px
    h3
      +inline-block
      color: $grey
    h4
      +inline-block
      color: $grey

h1.overwrap-background
  border-bottom: 5px solid $sterling-white
  height: 50px

//balanced section: md-select
._md-select-menu-container[aria-hidden="false"] md-option
  padding: 0 5px 0 12px

md-select-menu
  md-option, md-option[selected]
    &:focus,
    &:not([disabled]),
    &:not([selected])
      color: $medium-grey
    &:hover
      color: $dark-grey
    &:active
      color: shade($balanced-yellow, 22%)



//color border
@each $i in $color-style
  .#{nth($i, 1)}
    border-left: 3px solid
    border-color: nth($i, 2)


