<section class = "feedback">
    <!-- improvement-point-->
    <ul class = "improvement-point">
        <div class="select-date top-section">
            <div class="selected-date">
                <a href="#">
                    <span class="line-caret"></span>
                </a>
                <h3 ng-init="selectedDate.date=selectedDates[0].date">{{selectedDate.date}}</h3>
            </div>

            <div class="select-filter">
                <md-select ng-model="selectedDate.date" placeholder="어제" ng-change=""
                           md-on-open="">
                    <md-option ng-value="selectedDate.date" ng-repeat="selectedDate in selectedDates">{{selectedDate.label}}</md-option>

                </md-select>
            </div>
        </div>

        <li class="none-border">
            <h4>부족한 점</h4>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon">
                    <svg class="resize"
                         x="0px" y="0px"
                         width="40px" height="50px"
                         viewBox="0 0 40 50">
                        <!--@each $i in $color-style-->
                        <!--.#{nth($i, 1)}-color-->
                        <!--fill: nth($i, 2)-->
                        <!--$attribute-color:happy balanced energetic-->
                        <rect ng-class="happy-color"
                              y="2"
                              class="st0"
                              ng-width="17"
                              height="46"/>
                        <path class="feedback-bg" d="M0,0v50h40V0H0z M26.9,33.5c-2.2,4.8-7.1,8-12.4,8c-9.6,0-16.3-10.3-12.3-19.1
		c1.8-4.1,5.8-7,10.3-7.8c4.5-0.6,9.1,1,12.1,4.5C28.2,23.1,29,28.8,26.9,33.5z"/>
                        <use xlink:href="#data-totalMinutesAsleep" />
                    </svg>
                </div>
                <span>꿀잠</span>
            </div>
            <div class="desc"><span>2시간 5분 꿀잠</span></div>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon">
                    <svg class="resize"
                         x="0px" y="0px"
                         width="40px" height="50px"
                         viewBox="0 0 40 50">
                        <!--@each $i in $color-style-->
                        <!--.#{nth($i, 1)}-color-->
                        <!--fill: nth($i, 2)-->
                        <!--$attribute-color:happy balanced energetic-->
                        <rect ng-class="balanced-color"
                              y="2"
                              class="st2"
                              ng-width="12"
                              height="46"/>
                        <path class="feedback-bg" d="M0,0v50h40V0H0z M29,39c-2.2,4.8-7.1,8-12.4,8C7,47,0.3,36.7,4.3,27.9c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C30.3,28.6,31.1,34.3,29,39z"/>
                        <use xlink:href="#data-foodPlan" />
                    </svg>
                </div>
                <span>음식계획</span>
            </div>
            <div class="desc"><span>3,641 섭취 > 1,124</span></div>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon"></div>
                <span>걸음수</span>
            </div>
            <div class="desc"><span>4,365 / 10,000</span></div>
        </li>
        <!--<li class="none-border">&nbsp;</li>-->
    </ul>

    <!--strong-point-->
    <ul class = "strong-point">
        <li class="none-border">
            <h4>잘한 점</h4>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon"></div>
                <span>물 섭취량</span>
            </div>
            <div class="desc"><span>3200ml</span></div>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon"></div>
                <span>몸무게</span>
            </div>
            <div class="desc"><span>최근 - 0.8kg</span></div>
        </li>
        <li>
            <div class="selected-icon">
                <div class="percentage-icon"></div>
                <span>걸음수</span>
            </div>
            <div class="desc"><span>23 / 10층</span></div>
        </li>
        <!--<li class="none-border">&nbsp;</li>-->
    </ul>

    <!--challenge-->
    <ul class = "challenge">
        <div class="select-date">
            <div class="selected-date">
                <a href="#">
                    <span class="line-caret"></span>
                </a>
                <h3>{{today}}</h3>
            </div>
            <div class="select-filter">&nbsp;</div>
        </div>

        <li class="none-border">
            <h4>오늘 미션</h4>
        </li>
        <form name ="today-mission" novalidate>
            <!--Dynamic Form using ngForm-->
            <ng-form name="missonForm">
                <!--todo 1-->
                <div class ="select-mission">
                    <div class = "overwrap-element">
                        <md-content class="select-target">
                            <md-autocomplete flex nonebutton="true"
                                             md-items="target in targets"
                                             md-selected-item="selectedTarget"
                                             md-selected-item-change="ableSelectAcheivement1()"
                                             md-item-text="target.display"
                                             ng-model="selectedTarget.name"
                                             md-min-length="0"
                                             placeholder="목표물 선택"
                                             id="inputMission01"
                                             class="inputMission nonebtton x90transform bg-input-{{selectedTarget.name}}"
                                             md-input-name="autocompleteField-target"
                                <md-item-template>
                                <span class="percentage-icon">
                                    <md-icon md-svg-src="{{target.src}}"></md-icon>
                                    <span> {{target.display}} </span>
                                </span>
                                </md-item-template>
                            </md-autocomplete>

                        </md-content>
                        <md-content class="select-acheivement">
                            <md-autocomplete flex nonebutton="true"
                                             ng-disabled="isAchievementDisabled1"
                                             md-input-name="autocompleteField-acheivement"
                                             md-selected-item="percentage.percent"
                                             md-items="percentage in achievement"
                                             md-item-text="percentage.percent"
                                             md-min-length="0"
                                             placeholder="달성율 선택"
                                             class="inputAchievement nonebutton x90transform"
                                             ng-disabled="selectedTarget == null"
                                             required/>
                            <md-item-template>
                                <span md-highlight-text="percentage.percent"
                                      md-highlight-flags="^i">{{percentage.number}}% 달성
                                </span>
                            </md-item-template>
                            </md-autocomplete>
                        </md-content>
                    </div>
                </div>

                <!--todo 2-->
                <div class ="select-mission">
                    <div class = "overwrap-element">
                        <md-content class="select-target">
                            <md-autocomplete flex nonebutton="true"
                                             md-items="target2 in targets"
                                             md-selected-item="selectedTarget2"
                                             md-selected-item-change="ableSelectAcheivement2()"
                                             md-item-text="target2.display"
                                             ng-model="target2.name"
                                             md-min-length="0"
                                             placeholder="목표물 선택"
                                             id="inputMission02"
                                             class="inputMission nonebutton x90transform bg-input-{{selectedTarget2.name}}"
                                             md-input-name="autocompleteField-target"
                                             required/>
                            <md-item-template>
                            <span class="percentage-icon">
                                <md-icon md-svg-src="{{target2.src}}"></md-icon>
                                <span> {{target2.display}} </span>
                            </span>
                            </md-item-template>

                        </md-content>
                        <md-content class="select-acheivement">
                            <md-autocomplete flex nonebutton="true"
                                             ng-disabled="isAchievementDisabled2"
                                             md-input-name="autocompleteField-acheivement"
                                             md-selected-item="percentage2.percent"
                                             md-items="percentage2 in achievement"
                                             md-item-text="percentage2.percent"
                                             md-min-length="0"
                                             placeholder="달성율 선택"
                                             class="inputAchievement nonebutton x90transform"
                                             ng-disabled="selectedTarget2.name == null"
                                             required/>
                            <md-item-template>
                        <span md-highlight-text="percentage2.percent"
                              md-highlight-flags="^i">{{percentage2.number}}% 달성
                        </span>
                            </md-item-template>
                        </md-content>
                    </div>
                </div>

                <!--todo 3-->
                <div class ="select-mission">
                    <div class = "overwrap-element">
                        <md-content class="select-target">
                            <md-autocomplete flex nonebutton="true"
                                             ng-disabled="isDisabled"
                                             md-items="target3 in targets"
                                             md-selected-item="selectedTarget3"
                                             md-selected-item-change="ableSelectAcheivement3()"
                                             md-item-text="target3.display"
                                             ng-model="selectedTarget3.name"
                                             md-min-length="0"
                                             placeholder="목표물 선택"
                                             id="inputMission03"
                                             class="inputMission nonebutton x90transform bg-input-{{selectedTarget3.name}}"
                                             md-input-name="autocompleteField-target"
                                             required/>
                            <md-item-template>
                            <span class="percentage-icon">
                                <md-icon md-svg-src="{{target3.src}}"></md-icon>
                                <span> {{target3.display}} </span>
                            </span>
                            </md-item-template>

                        </md-content>
                        <md-content class="select-acheivement">
                            <md-autocomplete flex nonebutton="true"
                                             ng-disabled="isAchievementDisabled3"
                                             md-input-name="autocompleteField-acheivement"
                                             md-selected-item="percentage3.percent"
                                             md-items="percentage3 in achievement"
                                             md-item-text="percentage3.percent"
                                             md-min-length="0"
                                             placeholder="달성율 선택"
                                             class="inputAchievement nonebutton x90transform"
                                             ng-disabled="selectedTarget3 == null"
                                             required/>
                            <md-item-template>
                        <span md-highlight-text="percentage3.percent"
                              md-highlight-flags="^i">{{percentage3.number}}% 달성
                        </span>
                            </md-item-template>

                        </md-content>
                    </div>
                </div>
                <!--button-->
                <div class = "answer">
                    <!--alert text-->
                    <div ng-hide="missonForm.$error.required[1].$valid == null">
                        <span >3개 미션을 선택해야 등록됩니다</span>
                    </div>

                    <div  ng-show="missonForm.$error.required[1].$valid == null && ableToggleTxt">
                        <span >미션을 완료하면 챔피언이 됩니다</span>
                    </div>

                    <button type = "submit"
                            class="btn-outline btn-yin"
                            ng-init="{toggleBtnText:toggleBtnText = initToggleBtnText, toggleBtnSrc:toggleBtnSrc = initToggleImgSrc}"
                            ng-disabled="!(missonForm.$error.required[1].$valid == null)"
                            ng-click="ableToggleTxt = !ableToggleTxt">

                        <span ng-if="missonForm.$error.required[1].$valid == null">{{toggleBtnText}}
                            <img ng-src={{toggleImgSrc}} title="{{}}"/>
                        </span>

                        <span ng-if="!(missonForm.$error.required[1].$valid == null)">{{initToggleBtnText}}
                            <img ng-src={{initToggleImgSrc}} title="{{}}"/>
                        </span>
                    </button>
                </div>

                <!--for test ng-messages
                <div>
                    <p>{{missonForm.$valid | json }}</p>
                    <p>{{missonForm.$error.required[1].$valid | json }}</p>
                    <p>{{missonForm.$error | json }}</p>
                    <p>{{missonForm | json }}</p>
                </div>
                -->
            </ng-form>
        </form>
        <!--<li>-->
            <!--&nbsp;-->
        <!--</li>-->
    </ul>
</section>