<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="50px" viewBox="0 0 40 50" style="display: none;">
<style type="text/css">
#ratio-totalTimeInBed .st0{fill:#53288B;}
#ratio-totalTimeInBed .st1{fill:#EBEBEB;}
#ratio-totalTimeInBed .st2{fill:none;stroke:#512B8D;stroke-width:2;stroke-miterlimit:10;}
#ratio-totalTimeInBed #data-mask-totalTimeInBed {fill: #a2a1a0;}

</style>
<symbol id="ratio-totalTimeInBed">
	<g id="attr">
		<g>
			<rect ng-if="targets[indexOfTarget.totalTimeInBed].efficiency === 0"
				  class="st0"
				  x="2"
				  y="2"
				  ng-width="countWidthByIcon($parent.todayStatus.totalTimeInBed)"
				  height="46"
					id="attr-totalTimeInBed"/>

			<rect ng-if="targets[indexOfTarget.totalTimeInBed].efficiency != 0"
				  class="st0"
				  x="2"
				  y="2"
				  ng-width={{targetsRange[indexOfTarget.totalTimeInBed].iconRatio}}
				  height="46"
					id="attr-totalTimeInBed"/>
		</g>
	</g>

	<path id="data-mask-totalTimeInBed"
		  class="st1"
		  d="M1,1v48h38V1H1z M29.5,35.5c-2.2,4.8-7.1,8-12.4,8c-9.6,0-16.3-10.3-12.3-19.1c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C30.8,25.1,31.6,30.8,29.5,35.5z"/>

	<path class="st1"
		  id="mask-totalTimeInBed"
		  d="M0,0v50h40V0H0z M29.5,35.5c-2.2,4.8-7.1,8-12.4,8c-9.6,0-16.3-10.3-12.3-19.1c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C30.8,25.1,31.6,30.8,29.5,35.5z"/>

	<g id="data-totalTimeInBed">
		<g id="desc">
			<path class="st0" d="M37.2,13.7l-6,2.8l-0.3-1.4l2.4-5.7L30.1,11l-0.3-1.6l5.8-2.7L35.9,8l-2.4,5.6l3.4-1.6L37.2,13.7z"/>
			<path class="st0" d="M36.8,16.7c0.1-0.4-0.4-0.7-0.7-0.4c0,0,0,0,0,0c-2.6,2.6-6.8,2.5-9.3-0.1c-2.4-2.5-2.3-6.4,0.1-8.9
				c0,0,0.1-0.1,0.1-0.1c0.3-0.3,0-0.8-0.4-0.7c-1.5,0.4-2.9,1.1-4,2.2c-2.3,2.3-3,5.5-2.2,8.4c3.5,0.9,6.4,3.1,8.2,6.2
				c2.2,0,4.4-0.8,6-2.5C35.7,19.6,36.5,18.2,36.8,16.7z"/>
		</g>
		<circle id="circle" class="st2" cx="16.9" cy="29.9" r="13.5"/>
	</g>
</symbol>
</svg>
