<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="50px" viewBox="0 0 40 50" style="display: none;">
<style type="text/css">
#ratio-calories .st0{fill:none;stroke:#F74D52;stroke-width:2;stroke-miterlimit:10;}
#ratio-calories .st1{fill:#EBEBEB;}
#ratio-calories .st2{fill:#F74D52;}
#ratio-calories
#data-mask-calories {fill: #a2a1a0;}

</style>
<symbol id="ratio-calories">
	<rect ng-if="targets[indexOfTarget.calories].efficiency === 0"
		  id="attr" x="0"
          y="2" class="st2"
          ng-width="countWidthByIcon(targets[indexOfTarget.calories].efficiency)"
          height="46"/>

	<rect ng-if="targets[indexOfTarget.calories].efficiency != 0"
		  id="attr" x="0"
		  y="2" class="st2"
		  ng-width={{targetsRange[indexOfTarget.calories].iconRatio}}
		  height="46"/>


	<path id="data-mask-calories" class="st1" d="M0,0v50h40V0H0z M28.6,35.3c-2.2,4.8-7.1,8-12.4,8C6.6,43.3-0.1,33,3.9,24.2c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C29.9,24.9,30.7,30.6,28.6,35.3z"/>

	<path id="mask" class="st1" d="M0,0v50h40V0H0z M28.6,35.3c-2.2,4.8-7.1,8-12.4,8C6.6,43.3-0.1,33,3.9,24.2c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C29.9,24.9,30.7,30.6,28.6,35.3z"/>

	<g id="data-calories">
		<path id="calories-circle" class="st0" d="M16.2,43.3C6.6,43.3-0.1,33,4,24.2c1.8-4.1,5.8-7,10.3-7.7c4.5-0.6,9,1,12.1,4.5
			c3.5,4,4.3,9.7,2.1,14.3C26.2,40.1,21.3,43.3,16.2,43.3"/>
		<path id="calories-desc" class="st2" d="M38.6,28.9l-4.4-3.8l3.5-3.5c0.3-0.3,0.2-0.9-0.3-1l-4.2-0.9l5-7.4
			c0.3-0.5-0.2-1.1-0.7-0.9l-8.1,3.1l-1.2-6.7c-0.1-0.5-0.8-0.7-1.1-0.2L23,14.2l-4-2.6c-0.4-0.3-1,0.1-0.9,0.6l0.3,4.4
			c1.9,0.2,3.6,0.8,5.2,1.6l2.1-3.4l0.8,4.4l5.3-2L28.5,22l2.8,0.6l-1.9,1.9c0.2,0.4,0.3,0.8,0.5,1.2l2.1,1.8l-1.6,0
			c0.2,0.9,0.3,1.9,0.3,2.9c0,0.9-0.1,1.8-0.3,2.6l0.5,0.6l0.2-3.6l7.1,0.1C38.8,29.9,39.1,29.2,38.6,28.9z"/>
	</g>
</symbol>
</svg>
