<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="50px" viewBox="0 0 40 50" style="display: none;">
<style type="text/css">
#ratio-distance	.st0{fill:none;stroke:#F74D52;stroke-width:2;stroke-miterlimit:10;}
#ratio-distance	.st1{fill:#EBEBEB;}
#ratio-distance	.st2{fill:#F74D52;}
#ratio-distance #data-mask-distance {fill: #a2a1a0;}

</style>
<symbol id="ratio-distance">
	<rect ng-if="targets[indexOfTarget.distance].efficiency === 0"
		  id="attr-distance" x="4"
		  y="2" class="st2"
		  ng-width="countWidthByIcon($parent.todayStatus.distance)"
		  height="46"/>

	<rect ng-if="targets[indexOfTarget.distance].efficiency != 0"
		  id="attr-distance" x="4"
		  y="2" class="st2"
		  ng-width="{{targetsRange[indexOfTarget.distance].iconRatio}}"
		  height="46"/>


	<path id="data-mask-distance" class="st1"
		  d="M{{svgIconCanvasSize.M[0]}},{{svgIconCanvasSize.M[1]}}v{{svgIconCanvasSize.v}}h{{svgIconCanvasSize.H}}V{{svgIconCanvasSize.v}}H{{svgIconCanvasSize.v}}z
	M29.2,41.1c-2.2,4.8-7.1,8-12.4,8C7.2,49.1,0.5,38.8,4.5,30c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C30.5,30.7,31.3,36.4,29.2,41.1z"/>

	<path id="mask-distance"
			class="st1" d="M{{svgIconCanvasSize.M[0] + 1}},{{svgIconCanvasSize.M[1] + 1}}v{{svgIconCanvasSize.v - 2}}h{{svgIconCanvasSize.H - 2}}V{{svgIconCanvasSize.v + 1}}H{{svgIconCanvasSize.v + 1}}z M29.2,41.1c-2.2,4.8-7.1,8-12.4,8C7.2,49.1,0.5,38.8,4.5,30c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C30.5,30.7,31.3,36.4,29.2,41.1z"/>

	<g id="data-distance">
		<path id="distance-circle" class="st0" d="M16.8,48.9c-9.4,0-16.1-10.2-12.1-18.8c1.8-4,5.7-6.9,10.1-7.6c4.4-0.6,8.9,1,12,4.4
			c3.4,3.9,4.2,9.5,2.1,14.2C26.8,45.8,22,48.9,16.8,48.9"/>
		<g id="distance-desc">
			<path class="st2" d="M38.4,7.5L28.2,4.1c-0.2-0.1-0.4,0-0.5,0.1c-0.2,0.1-0.2,0.3-0.2,0.5l0.1,7.6c0,0.2,0.1,0.4,0.3,0.5
				c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.2,0l10.2-4.3c0.2-0.1,0.4-0.3,0.4-0.6C38.8,7.8,38.7,7.6,38.4,7.5z"/>
			<path class="st2" d="M31.2,21.7c0-2.5-1.9-4.5-4.3-4.8L26.8,3.6c0.5-0.3,0.9-0.9,0.9-1.5c0-1-0.8-1.8-1.8-1.8
				c-1,0-1.8,0.8-1.8,1.8c0,0.7,0.4,1.2,0.9,1.5l0.1,13.3c-1.6,0.4-2.9,1.5-3.5,3L13,20c-0.7-1.8-2.5-3.1-4.6-3.1
				c-2.1,0-3.8,1.3-4.5,3.1c0,0-0.7,1.9,0,3.7c0.5,1.3,1.6,2.3,2.9,2.8c2.4-2.8,6-4.7,10.1-4.7c4.1,0,7.7,1.8,10.1,4.7
				C29.4,26.2,31.2,24.2,31.2,21.7z"/>
		</g>
	</g>
</symbol>
</svg>
