<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="50px" viewBox="0 0 40 50" style="display: none;">
<style type="text/css">
#ratio-floors .st0{fill:none;stroke:#F74D52;stroke-width:2;stroke-miterlimit:10;}
#ratio-floors .st1{fill:#EBEBEB;}
#ratio-floors .st2{fill:#F74D52;}
#ratio-floors #data-mask-floors {fill: #a2a1a0;}

</style>
<symbol id="ratio-floors">
	<rect ng-if="targets[indexOfTarget.floors].efficiency === 0"
		  id="attr" x="3.5"
		  y="2" class="st2"
		  ng-width="countWidthByIcon($parent.todayStatus.floors)"
		  height="46"/>

	<rect ng-if="targets[indexOfTarget.floors].efficiency != 0"
		  id="attr" x="3.5"
		  y="2" class="st2"
		  ng-width="{{targetsRange[indexOfTarget.floors].iconRatio}}"
		  height="46"/>

	<path id="data-mask-floors" class="st1" d="M0,0v50h40V0H0z M30.3,38c-2.2,4.8-7.1,8-12.4,8C8.3,46,1.6,35.7,5.6,26.9c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C31.6,27.6,32.4,33.3,30.3,38z"/>

	<path class="st1" d="M0,0v50h40V0H0z M30.3,38c-2.2,4.8-7.1,8-12.4,8C8.3,46,1.6,35.7,5.6,26.9c1.8-4.1,5.8-7,10.3-7.8
		c4.5-0.6,9.1,1,12.1,4.5C31.6,27.6,32.4,33.3,30.3,38z"/>

	<g id="data-floors">
		<path id="floors-circle" class="st0" d="M17.9,45.7C8.6,45.7,2,35.6,6,27.1c1.8-4,5.7-6.9,10-7.6c4.4-0.6,8.9,1,11.8,4.4
			c3.4,3.9,4.2,9.5,2.1,14C27.8,42.6,23,45.7,17.9,45.7"/>
		<path id="floors-desc" class="st2" d="M35.3,7c-1.8,0-9-0.1-9,0.1c0,1.6,0,3.1,0,4.7c0,0.3-3.6,0.1-4.1,0.1
			c-0.5,0-0.9-0.2-0.9,0.3c0,0.9,0,1.9,0,2.8c0,0.5,0.2,0.8-0.4,0.8c-0.9,0-4.4-0.2-4.6,0c-0.2,0.2-0.1,2.2,0,3.5
			c0.5-0.1,1-0.1,1.4-0.1c7.3,0,13.2,5.9,13.2,13.2c0,0.4,0,0.7-0.1,1.1c0.3,0.3,0.7,0.6,0.9,0.9C33.1,25.3,34.2,16.2,35.3,7z"/>
	</g>
</symbol>
</svg>
