<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet"
          href="assets/stylesheets/css/global.css" />
</head>
<body>
   <div class = "wrapper">
       <div ng-include="'/app/components/layout/hearder.html'"></div>
        <p id="inline-block3">main </p>
       <p>page</p>
       <!-- Render AngularJS views  -->
       <div ng-view></div>
   </div>

    <!-- Load local libraries -->
    <script src="/assets/bower_components/angular/angular.js"></script>
    <script src="/assets/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/assets/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/assets/bower_components/angular-route/angular-route.js"></script>

    <!-- Bootstrap AngularJS application -->
    <script src="/app/app.js"></script>
    <script src="/app/app.core.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/app.services.js"></script>

    <!-- SERVICES -->
    <script src="/app/components/services/dataAPI.js"></script>

    <!--Load the dashboard main module -->
    <script src="/app/main/main.ctrl.js"></script>

</body>
</html>