<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <base href="/">
    <!--<link rel ="stylesheet"  href="/assets/bower_components/angular-material/angular-material.css" />-->
    <link rel ="stylesheet" href="/assets/custom-angular-material/core/core.css" />
    <link rel ="stylesheet" href="/assets/custom-angular-material/icon/icon.css" />
    <link rel ="stylesheet" href="/assets/custom-angular-material/virtualRepeat/virtualRepeat.css" />
    <link rel ="stylesheet" href="/assets/custom-angular-material/autocomplete/autocomplete.css" />
    <link rel ="stylesheet" href="/assets/custom-angular-material/backdrop/backdrop.css" />
    <link rel ="stylesheet" href="/assets/custom-angular-material/select/select.css" />
    <link rel ="stylesheet" href="/assets/stylesheets/custom-css/nv.d3.css"/>

    <link rel="stylesheet" href="/assets/stylesheets/css/global.css"/>

    <!-- css browser selector -->
    <!--<link rel="stylesheet" href="/assets/stylesheets/custom-css/css-browser-selector.css"/>-->
    <!--<script src="/assets/stylesheets/js/css_browser_selector.js" type="text/javascript"></script>-->
</head>
<body>
   <div class = "dashboard">
       <div ng-include="'/app/components/layout/hearder.html'"></div>
       <!-- Render AngularJS views  -->
       <div ng-view></div>
       <div ng-include ="'/app/components/layout/footer.html'"></div>
   </div>

    <!-- Load local libraries -->
    <script src="/assets/bower_components/angular/angular.js"></script>
    <script src="/assets/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/assets/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/assets/bower_components/angular-route/angular-route.js"></script>
    <script src="/assets/bower_components/angular-messages/angular-messages.js"></script>

   <!-- Angular Material requires Angular.js Libraries -->
   <script src="/assets/bower_components/angular-aria/angular-aria.js"></script>
   <script src="/assets/bower_components/angular-animate/angular-animate.js"></script>

   <!-- Angular Material Library -->
   <script src="/assets/custom-angular-material/core/core.js"></script>
   <script src="/assets/custom-angular-material/icon/icon.js"></script>
   <script src="/assets/custom-angular-material/showHide/showHide.js"></script>
   <script src="/assets/custom-angular-material/virtualRepeat/virtualRepeat.js"></script>
   <script src="/assets/custom-angular-material/autocomplete/autocomplete.js"></script>
   <script src="/assets/custom-angular-material/backdrop/backdrop.js"></script>
   <script src="/assets/custom-angular-material/select/select.js"></script>

   <!-- snap.svg -->
   <script src="/assets/bower_components/Snap.svg/dist/snap.svg-min.js"></script>

   <!-- Angular nvd3 chart -->
   <script src="/assets/bower_components/d3/d3.js"></script>
   <script src="/assets/stylesheets/js/nv.d3.js"></script>
   <script src="/assets/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
   <!-- nvd3 vertical bullet chart  -->
   <script src="/assets/stylesheets/js/vertical-bullet-chart.js"></script>


   <!--moment.js and angular-moment.js -->
   <script src="/assets/bower_components/moment/moment.js"></script>
   <script src="/assets/bower_components/angular-moment/angular-moment.js"></script>
   <!-- korean internationalization support-->
   <script src="/assets/bower_components/moment/locale/ko.js"></script>


   <!-- Bootstrap AngularJS application -->
    <script src="/app/app.js"></script>
    <script src="/app/app.core.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/app.services.js"></script>

    <!-- SERVICES -->
    <script src="/app/components/services/dataAPI.js"></script>
   <script src="/app/components/services/foodAPI.js"></script>

   <!--Load the dashboard main module -->
    <script src="/app/main/main.ctrl.js"></script>

   <!-- DIRECTIVES -->
   <script src="/app/components/body-shape/body-shape.drct.js"></script>
   <script src="/app/components/number-today/number-today.drct.js"></script>
   <script src="/app/components/feedback/feedback.drct.js"></script>
</body>
</html>