/// Container max-width
$max-width: 800px;

//achromatic-color types
$white: #ffffff;
$sterling-white :#f0f0f0;

$sterling-grey: #ebebeb;
$calm-grey: #dcd9d9;
$pearl-grey: #d5d8da;
$light-grey :#cdcaca;

$misty-grey1 :#bcbbbb;
$misty-grey2 :#b5b4b3;
$grey :#a0a6a9;
$medium-grey :#a2a1a0;
$stone-grey :#93999c;

$dark-grey :#868b8e;
$dark-jet:#193346;

/// section happy
$happy-violet: #512b8d;

/// section balanced
$balanced-yellow:#fab657;

/// section energetic
$energetic-red: #f74d52;

/// Main background color
$main-color: $sterling-grey;

/// Secondary color
$secondary-color: $grey;

/// Breakpoints
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Map} value - Breakpoint value
$breakpoints: (
        'medium': (min-width: 600px)
);

/// Regular font stack
/// @type List
$bold-font: "SpoqaHanSans-Bold";
$normal-font: "SpoqaHanSans-Regular";
$thin-font: "SpoqaHanSans-Thin";

$text-font-stack: $normal-font,"Roboto", "Helvetica", "Arial", sans-serif;

/// Code font stack
/// @type List
$code-font-stack: "Source Code Pro", "Courier New", monospace;

///base/_typography.scss
$font-size-normal: 14pt;